<h1>Editing item</h1>

<%= render "form", item: @item %>

<br>

<div>
  <%= link_to "Show this item", [@inventory, @item] %> |
  <%= link_to "Back to items", inventory_items_path(@inventory) %>
</div>
