<p style="color: green"><%= notice %></p>

<h1>Inventory</h1>

<div id="inventory">

    <%=@inventory %>
    <p>
      <%= link_to "Show this inventory", @inventory %>
    </p>

</div>

<%= link_to "New inventory", new_location_inventory_path%>
